<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>
<body>
<div class="container" align="center">
    <h1>Add Movie Information</h1>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" value="Add movie">
    </form>
</div>
</body>
</html>