.Movies{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1280px;
    margin:auto;
    gap:30px
}

.Movie{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 20px 50px orange;
}
h1{
    font-size: 48px;
    text-align: center;
}