<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{%static 'css/demo.css' %}">
</head>
<body>
    <h1>Student information</h1>
{% if my_list %}
    <p>Student availabe</p>
    {% for i in my_list%}
    <h2>{{i.name}} information</h2>
    <ul>
        <li>{{i.rollno}}</li>
        <li>{{i.dob}}</li>
        <li>{{i.phonenumber}}</li>
        <li>{{i.marks}}</li>
        <li>{{i.email}}</li>
    </ul>
    {% endfor %}
    {% else %}
    <p>No record found</p>
{% endif %}
</body>
</html>