<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/jobs1.css' %} ">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome To jobs portal</h1>
            <p>Contenous Jobs updates for every hours...</p>
            <a class="btn btn-primary btn-lg" href="/hydjobs/">Hyderabad jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary btn-lg" href="/punejobs/">Pune jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary btn-lg" href="/bangjobs/">Bangaluru jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
</body>
</html>