<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if my_list %}
<table border="1px">
    <thead>
    <tr>

    <th>ENO</th>
    <th>ENAME</th>
    <th>ESAL</th>
    <th>EADDR</th></th>
    </tr>
    </thead>
    <tbody>
    {% for i in my_list %}
    <tr>
    <td>{{i.eno}}</td>
    <td>{{i.ename}}</td>
    <td>{{i.esal}}</td>
    <td>{{i.eaddr}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else  %}
<p>Data not found </p>
{% endif %}
</body>
</html>